<nav class="overflow-x-scroll overflow-x-visible-ns flex items-center center bg-white divider-grey relative justify-center">

	<!-- Logo -->
	<a href="/post" class=" db mr1 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Al3dawi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b ">
		<li><a href="/products" class=" no-underline db">الخدمات</a></li>

		<li><a href="/post" class="no-underline db">المقالات</a></li>

		<li><a href="/contact" class=" no-underline db">تواصل معي</a></li>
	</ul>

</nav>
